player-connection-mode=Listen
player-connection-guid=3983491952
player-connection-debug=1
player-connection-project-name=Night In Sanguimesia
player-connection-ip=192.168.1.37
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6d612414ae0244e28a0d2b31d242ade4
